body {
    display: grid;
    background-image: url("images/avatar/wall3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    width: 50px;
    height: 50px;
    border-style: none;
    border-radius: 5px;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

.wp_selector {
    place-self: center;
    position: fixed;
    bottom: 0;
}

.wp_selector p {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

.wall1 {background-image: url(images/avatar/wall1.jpg); background-size: cover;}
.wall2 {background-image: url(images/avatar/wall2.jpg); background-size: cover;}
.wall3 {background-image: url(images/avatar/wall3.jpg); background-size: cover;}
.wall4 {background-image: url(images/avatar/wall4.jpg); background-size: cover;}
.wall5 {background-image: url(images/avatar/wall5.jpg); background-size: cover;}
.wall6 {background-image: url(images/avatar/wall6.jpg); background-size: cover;}

.wall7 {background-image: url(images/dinoking/wall7.jpg); background-size: cover;}
.wall8 {background-image: url(images/dinoking/wall8.jpg); background-size: cover;}
.wall9 {background-image: url(images/dinoking/wall9.jpg); background-size: cover;}
.wall10 {background-image: url(images/dinoking/wall10.jpg); background-size: cover;}
.wall11 {background-image: url(images/dinoking/wall11.jpg); background-size: cover;}

.navBar {
    place-self: center;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 20vw;
    height: 5vw;
}