@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    display: grid;
    background-image: url("images/avatar/wall3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    background-color: Transparent;
    width: 35px;
    height: 35px;
    border-style: none;
    border-radius: 5px;
}

button:hover { 
    cursor: pointer;
    transition: 0.35s;
    width: 40px;
    height: 40px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    color: #c0c0c0;
    font-size: 12.5px;
}

.clock-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    margin-right: 15px;
    height: 100px;
    width: 13rem;
}

.clock {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 50px;
    color: #fff;
}

.day {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.hidden {
    display: none;
}
.visible {
    display: block;
}

.wp_selector {
    background-color: #1d1d1db4;
    border-radius: 10px;
}

.themeTitle {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 15px;
}

.wall1 {background-image: url(images/avatar/wall1.jpg); background-size: cover; margin-left: 15px;}
.wall2 {background-image: url(images/avatar/wall2.jpg); background-size: cover;}
.wall3 {background-image: url(images/avatar/wall3.jpg); background-size: cover;}
.wall4 {background-image: url(images/avatar/wall4.jpg); background-size: cover;}
.wall5 {background-image: url(images/avatar/wall5.jpg); background-size: cover;}
.wall6 {background-image: url(images/avatar/wall6.jpg); background-size: cover;}

.wall7 {background-image: url(images/dinoking/wall7.jpg); background-size: cover; margin-left: 15px;}
.wall8 {background-image: url(images/dinoking/wall8.jpg); background-size: cover;}
.wall9 {background-image: url(images/dinoking/wall9.jpg); background-size: cover;}
.wall10 {background-image: url(images/dinoking/wall10.jpg); background-size: cover;}
.wall11 {background-image: url(images/dinoking/wall11.jpg); background-size: cover;}

.wall12 {background-image: url(images/hogwarts/wall12.jpg); background-size: cover; margin-left: 15px;}
.wall13 {background-image: url(images/hogwarts/wall13.png); background-size: cover;}
.wall14 {background-image: url(images/hogwarts/wall14.jpg); background-size: cover;}
.wall15 {background-image: url(images/hogwarts/wall15.png); background-size: cover;}
.wall16 {background-image: url(images/hogwarts/wall16.jpg); background-size: cover;}


/*
* // NAV-BAR 
*/
.navItem {
    display: grid;
    place-items: center;
    
}

.navItem h4 {
    margin-top: 3vw;
}

.themeNav, .mediaNav, .pomoNav {
    position: absolute;
    margin-bottom: 1.5vw;
    margin-top: 15px;
}
.themeNav {background-image: url("images/icons/theme.png"); background-size: cover;}
.pomoNav {background-image: url("images/icons/alarm.png"); background-size: cover;}
.mediaNav {background-image: url("images/icons/music.png"); background-size: cover;}

.navBar {
    place-self: center;
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 12vw;
    height: 3.1vw;
    margin-bottom: 0.75vw;

    background-color: #1d1d1db4;
    border-radius: 10px;
}

@media (max-width: 1800px) {
    body {
        overflow: hidden;
    }
    .navBar {
        width: 220px;
        height: 65px;
    }
    .themeNav, .mediaNav, .pomoNav {
        position: absolute;
        margin-bottom: 27px;
        margin-top: 5px;
    }
    .navItem h4 {
        margin-top: 53px;
    }
}
 
.mediaOpen {
    display: grid;
    place-items: center;
    grid-template-rows: 30px 30px 30px 30px 30px;
    width: 150px;
    height: 250px;
    border-style: solid;
    border-color: white;
    background-color: #1d1d1db4;
    border-radius: 15px;
}

.mediaOpen p {
    color: white;
    font-family: "Ubuntu Sans Mono", monospace;
    transition: 0.3s;
}

.mediaOpen p:hover {
    color: #888888;
    transition: 0.3s;
}

.mediaOpen a {
    text-decoration: none;
    cursor: pointer;
}

.mediaTitle {
    color: #fff !important;
    font-weight: 700;
}


/* POMO TAB */
.pomoContent {
    display: flex;
    flex-direction: column;
    place-items: center;
    color: #fff;
}

.pomoContent h3 {
    font-size: 45px;
}

.startPomo {
    background-color: rgb(247, 199, 142);
    width: 200px;
    height: 40px;
    border-style: none;
    border-radius: 10px;
    transition: 0.3s;
}

.startPomo:hover { 
    color:#fff;
    background-color: rgb(44, 44, 44);
    border-style: solid;
    border-color:rgb(247, 199, 142);
    border-width: 1px;
    cursor: pointer;
    transition: 0.3s;
    width: 200px;
    height: 40px;
}

.mode-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    gap: 25px;
    margin-top: 65px;
}

.mode {
    font-family: 'Courier New', Courier, monospace;;
    color: #fff;
    background-color: rgba(148, 109, 109, 0.562);
    width: 50px;
    height: 25px;
}

.mode:hover { 
    cursor: pointer;
    width: 50px;
    height: 25px;
}

